<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Milaap-Home</title>
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link href="css/campaign.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#test").click(function(){
		$(".header_intro_area_form").removeClass("hidden");
		$(this).addClass("hidden");
		return false;
	});

});
</script>



</script>
</head>

<body>
<div id="bg">
	<div id="header"><!-- Header div -->
	<div class="wrapper"><!-- Wrapper div -->
		<div id="logo" class="left" style="background:url(images/logo-bg.gif) no-repeat; width:274px; height:114px;"><a href="/"><img class="ie-png" src="images/milaap.png"/></a></div>
		<div class="right">
			<div class="twitter-count"><span class="left">2</span><span class="left">0</span><span class="left">0</span><span class="left">0</span><span class="left">0</span><span class="left span-text"> joined</span><span class="clear"></span> </div>

		</div>
		<div class="clear"></div>

		</div><!-- /Wrapper div -->

	</div><!-- /Header div -->
	<div class="content">
			<div class="wrapper"><!-- Wrapper div -->
				<div class="borrowers-details" class="clear"><!-- Borrowers' div -->
					<div id="campaign-info">
					<div class="left">
						<p style="padding-top:290px;" class="general-info">2.6 Billion people in this world suffer discomfort, disease and loss of dignity everyday due to lack of access to basic sanitation. <br/><br/>It's a problem few of us know yet kills millions every year. </p>

						<p style="padding-top:88px;" class="general-info">Your support will help us raise $2500 to provide safe sanitation to the rural poor in India</p>
						</div>

						<div class="left" id="action-blurb">

						<div class="links-wrapper" style="display:none;"><!-- Fbshare and twitter(1) div -->
							<p id="general-info2">Simply by pledging your support either by liking us on Facebook or following us on Twitter</p>
								<img src="images/like-follow.gif" alt=""/><br/><br/>
								<button  id="test">Give your support</button>
							<div class="hidden header_intro_area_form">

								  <div class="left fb-button">
									<a href="">Share <span>on</span></a>
								  </div>
								<div class="twitter-button left">
									<a href="http://twitter.com/milaapdotorg"">Follow us <span>on</span></a>
								</div>
								<div class="clear"></div>
							</div>
					</div><!-- Links div -->


						<div class="links-wrapper" style="display:none;"><!-- FBlike and Twitter(1) div -->
								<p id="main-text-msg">Thanks for sharing on Facebook. <br/>You can also like us on FB or follow us on Twitter</p>
								<div class="header_intro_area_form">
								  <div class="left fb-button-like">
									<iframe src="http://www.facebook.com/plugins/like.php?href=milaap.org&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
								  </div>
									<div class="twitter-button left">
										<a href="http://twitter.com/milaapdotorg"">Follow us <span>on</span></a>
									</div>
									<div class="clear"></div>
								</div>
					</div><!-- Links div -->



					<div class="links-wrapper" style="display:none;"><!-- FShare div -->
								<p id="main-text-msg">Thanks for following us on Twitter. <br/>You can also spread the word on FB.</p>
								<div class="header_intro_area_form2">
								  <div class="left fb-button">
									<a href="">Share <span>on</span></a>
								  </div>
								</div>
					</div><!-- Links div -->




					<div class="links-wrapper" style="display:none;"><!-- Tweet Message div -->
								<p id="main-text-msg">Thanks for following Milaap. <br/>You can now tweet about this on Twitter as well.</p>
									<form name="">
									<textarea>Hey - 19th Nov is World Toilet Day, I just helped someone get access to a toilet. In case you wanna help too - here is the link. http://bit.ly/milaapwto"</textarea>
									<p id="note"><span>*</span>Click on the text above to edit your message</p>
									<input class="twitter-button-share" value="Tweet now">

									</form>
					</div><!-- Links div -->


					<div class="links-wrapper"><!-- FB Share Message div -->
								<p id="main-text-msg">Thanks for following Milaap. <br/>You can now tweet about this on Twitter as well.</p>
									<form name="">
									<textarea>Hey - 19th Nov is World Toilet Day, I just helped someone get access to a toilet. In case you wanna help too - here is the link. http://bit.ly/milaapwto"</textarea>
									<p id="note"><span>*</span>Click on the text above to edit your message</p>
									<input class="fb-button-share" value="Share now">

									</form>
					</div><!-- Links div -->



					</div>

					</div>



				<div class="info-blurb left"><!-- Borrower Info div -->





					<div class="fb-fans" style="background:none;padding:20px; border-top:1px solid #cecece;">
					<h3>Borrowers that you would be supporting</h3>
					</div>


					<div id="borrower-image" class="left">
						<div class="borrower-image-border">
							<img src="images/borrowers/1.jpg" alt="Smitabai"/>
						</div>
						<div class="shadow0"></div>
						<h3>Chandra-Thangaiyan</h3>
					</div>


					<div id="borrower-image" class="left">
						<div class="borrower-image-border">
							<img src="images/borrowers/2.jpg" alt="Smitabai"/>
						</div>
						<div class="shadow0"></div>
						<h3>Poonamal</h3>
					</div>



					<div id="borrower-image" class="left">
						<div class="borrower-image-border">
							<img src="images/borrowers/3.jpg" alt="Smitabai"/>
						</div>
						<div class="shadow0"></div>
						<h3>Ponchalai</h3>
					</div>

					<div class="clear"></div>

					<br/><br/>


				</div><!-- Borrower Info div -->

			</div><!-- Borrowers' div -->
			</div><!-- /Wrapper div -->

	</div>
	</div>
	<div class="wrapper">
					<div class="fb-fans">
					<h3>Thanks to all those who have supported the Milaap borrowers</h3>
					<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fmilaap.org&amp;width=868&amp;colorscheme=light&amp;connections=32&amp;stream=false&amp;header=false&amp;height=257" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:868px; height:257px;" allowTransparency="true"></iframe>
					<script type="text/javascript">
					document.getElementByID("fb").getElementbyClass(".fbConnectWidgetHeaderTitle").style.display="none";

					</script>

					</div>
	</div>
	<div id="footer"><!-- Footer div -->
		<div class="wrapper">
			<ul class="left">
			  <li><a title="Privacy Policy" href="/privacy">Privacy Policy</a></li> | <li><a title="Terms and Conditions" href="/terms">Terms &amp; Conditions</a></li> | <li><a title="MILAAP - Beyond Just Credit" href="http://blog.milaap.org/">Blog</a></li> | <li><a title="Contact Milaap" href="/contact-us">Contact Us</a></li>
			</ul>
			<div class="copyright right">
			  <p>&copy; 2010. Milaap.org. All rights reserved.</p>
			</div>
			<div class="clear"></div>
		</div><!-- /Wrapper div -->
	</div><!-- /Footer div -->

	</body>
</html>