<%= stylesheet_link_tag "static.css"%>
<div class="content">
		<div class="wrapper">
	<div class="get-involved">
		<div class="get-involved-content">
			<h3>You can get in touch with us at <a href="mailto:feedback@milaap.org" target="_blank">feedback@milaap.org</a></h3><br/>
			<h3>If you want to visit us, feel free to drop by, we are based at IIM Bangalore.</h3><br/>
			<div style="border:10px solid #fff;"><iframe width="850" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=IIM+Bangalore&amp;sll=18.531957,73.839701&amp;sspn=0.037435,0.077162&amp;ie=UTF8&amp;hq=IIM+Bangalore&amp;hnear=IIM+Bangalore,+Bannerghatta+Road,+IIMB+Internal+Rd,+Sundar+Ram+Shetty+Nagar,+Bilekahalli,+Bengaluru,+Karnataka+560+076&amp;ll=12.895688,77.602244&amp;spn=0.038485,0.077162&amp;z=14&amp;iwloc=A&amp;cid=13346547386176613769&amp;output=embed"></iframe></div>
		</div>

		<div class="clear"></div><br/>

	</div>



 </div></div>
