<%= stylesheet_link_tag "static.css"%>
<div class="content">
		<div class="wrapper">
	<div class="get-involved">
		<div class="get-involved-content">
			<h3><span class="step">1.</span> Spread the word on Facebook</h3> 
			<ul>
				<li>Join our <strong><a target="_blank" href="http://www.facebook.com/Milaap.org">Facebook fan</a></strong> page, a great way to receive updates about Milaap and share your thoughts with us</li>
				<li>Click on "Suggest to Friends" on Milaap's Facebook fan page (in the top left corner), and then select which of your friends you want to tell about Milaap.</li>
				<li>Post interesting news/links you find about micro-finance, new financing models for education, energy, water etc.. This will help Milaap and your fellow Milaaprs (Milaap-likers) educate each other about the many interesting and important issues which affect and are affected by what we're doing.</li>
			</ul>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>


		<div class="get-involved-content">
			<h3><span class="step">2.</span> Spread the word on Twitter</h3> 
			<ul>
				<li>You can also follow us on Twitter <strong><a target="_blank" href="http://www.twitter.com/milaapdotorg">(@milaapdotorg)</a></strong></li>
				<li>Tweet about Milaap.org, and re-tweet our posts to share them with others (see here for more on how to use Twitter).</li>
			</ul>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>
		

		<div class="get-involved-content">
			<h3><span class="step">3.</span> Volunteer for Milaap</h3> 
			<ul>
				<li>Milaap needs experienced volunteers and for firms to donate in-kind services for these areas:</li>
				<li><strong>Social blogger</strong> - We are looking for people who can build a social community revolving around topics of microfinance, etc. Being an avid blogger and being able to connect with the audience on a one-to-one basis would be a great plus.</li>
				<li><strong>Videographers</strong> - Do you have a knack of recording videos that can have a tremendous social impact? If the answer is "yes", then we would like to hear from you. Milaap is always on the lookout for people who can cover various stories spanning from sanitation/healthcare problems to education and water issues plaguing our Indian villages. </li>
				<li><strong>Social photographers</strong> - If shooting a video is not your niche, but you can can create the same impact with the help of pictures, depicting social issues, that you have captured on your camera, give us a shout, and we will surely get back to you.</li>
			</ul>
			<p>If you think you might be a fit, please forward your resume as well as the number of hours per week you can commit to Milaap to <strong>volunteer [at] Milaap.org</strong>.  In the subject line of your email, please indicate the capacity in which you are interested in volunteering (legal, advisor, board, other, etc.).</p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>

	</div>



 </div> </div>
