<%= stylesheet_link_tag "static.css"%>
<div class="content">
		<div class="wrapper">
<div class="get-involved">
		<div class="get-involved-content">
			<h3><span class="step">1.</span> Identify Unmet Needs</h3> 
			<img alt="How it works" src="/images/how-it-works-0.gif">
			<p>Milaap works with established, grassroots NGOs and Microfinance institutions  focused on holistic community development to understand unmet needs of their borrowers such as education, clean water, that </p>
			<p>Together with the field partner, Milaap then identifies appropriate modes of intervention. This could be a product, service or a market linkage. Milaap is agnostic to type of offering as long as it demonstrates a real potential for increased income generation, improved productivity and reduced expenditure thereby leading to overall improvement in living standards. </p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>


		<div class="get-involved-content">
			<h3><span class="step">2.</span> Design Financing Programs</h3> 
			<img alt="How it works" src="/images/how-it-works-1.gif">
			<p>Milaap works with field partners to develop a customized credit program - unique to the type of product/service offered, community served and requirements of field partner.  In some cases, MFIs will have an existing loan program customized to their client needs and Milaap shall work with them to accelerate their outreach with capacity building initiatives</p>

			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>
		<div class="get-involved-content">
			<h3><span class="step">3.</span> Raise Capital</h3> 
			<img alt="How it works" src="/images/how-it-works-2.gif">
			<p>Once the borrowers are screened by the field partner and posted on our platform, Milaap raises loans contributed by individuals like you via our online platform--into their unmet needs.  The credit is channeled through our field partners on a schedule that accommodates their banking procedures.
With access to credit, services now become affordable giving our borrowers a realistic chance to break free from the vicious poverty cycle. </p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>

		<div class="get-involved-content">
			<h3><span class="step">4.</span> Report Utilization</h3> 
			<img alt="How it works" src="/images/how-it-works-3.gif">
			<p>Milaap works with field partners to develop appropriate monitoring mechanisms in ensure 100 percent loan utilization by the borrowers for the intended purpose and monitor the usage of such facilities. </p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>


		<div class="get-involved-content">
			<h3><span class="step">5.</span> Track Progress </h3> 
			<img alt="How it works" src="/images/how-it-works-4.gif">
			<p>Over the period of loan cycle, Milaap will track the progress made by the borrower, conducting social impact assessments. During this period, Milaap also works with the field partner to bring in complementary services such as savings, insurance as part of the loan cycle to ensure holistic development. </p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>


		<div class="get-involved-content">
			<h3><span class="step">6.</span> Pay It Forward </h3> 
			<img alt="How it works" src="/images/how-it-works-5.gif">
			<p>As soon as the borrowers begin to repay, their installments will be deposited into your account as Milaap Credits. With Milaap Credits, you can choose to support another entrepreneur, or withdraw the amount upon completion of loan cycle.  </p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div><br><br><br>



	</div>


		</div>
	</div>
