<%= stylesheet_link_tag "static.css"%>

<div class="content">
		<div class="wrapper">

	<div class="get-involved">
		<div class="get-involved-content">
			<div id="privacy-policy">
				<h3>Privacy Policy</h3> 
				<ul>

					<li>Milaap will not rent or sell your personal information to third parties.</li>
				   <li>When you create an account on Milaap, we collect basic information about you through the registration process - your name, email address, and a means to authenticate your account (for example, a password). You may also provide additional information through the account creation process, such as the email address of the person who referred you to Milaap. You may also provide other information (for example, a picture of yourself, a picture of your lending team, your occupation, your physical address, your city/state/country of residence, the reasons why you choose to lend on Milaap) through the creation of a public profile page, creating/joining a lending team page on the Website, making a loan transaction on Milaap, updating your account information, or by registering with Milaap through a third-party single sign on registration tool. Public profile pages will also show the following information: the date on which you joined Milaap, the loans you have made, the lending teams you have joined, and the individuals who have accepted your invitations to create an account on Milaap. Milaap will also track information on your microloan transactions (for example, amount of the loan, recipient of the loan) and make that information available to you on your private Milaap account page. If you have a public lender profile page, such lending information may furthermore be shared in public areas of the Milaap website. Milaap will also collect information on any donations you make to Milaap via the website and communicate with you (for example, to provide donation confirmations) via the email address and/or the physical address that you provide.</li>

				   <li>If you use interactive features on Milaap to write a comment - for example, on a Milaap Blog - Milaap will collect your name, email address, any url address you enter, and your comment - and publicly display the information (except for your email address). If you use interactive features on Milaap to indicate that you "like" a particular feature or listing on Milaap, that information will be collected and will be noted on the Milaap website that you have "liked" that feature or listing and that information may furthermore be shared on applicable third party social networking sites to which you may have authorized such information sharing. </li>

				   <li>By establishing an account on Milaap, you agree to receive emails or other written communication, such as physical mail, based on your account status or activity (for example, confirmations of loans you have made, confirmation receipts for donations you have made, notifications of loan repayments you have received, statements or other information with respect to the amount of credit available in your Milaap account, confirmation of email address or password changes, or customer service inquiries regarding the status of or activity in your account).</li>

				   <li>By default, you will receive update emails on your loans that are sent by our field partners through the Website. Milaap will not disclose your email address to our field partners in any case -- these emails are sent through a webform without any third party learning your address. You can choose not to receive these emails through a preference on the Website.</li>

				   <li>By default, you may receive periodic newsletter emails from Milaap. The frequency of these newsletters may vary. You can choose not to receive these newsletters by clicking on the "unsubscribe" link in the newsletter.</li>

				   <li>Milaap will not disclose your personally identifiable lending activity to any third party without consent (please note: the creation of a public lender profile on Milaap is considered consent for such disclosure). Milaap reserves the right to record and display anonymous lending activity on the Website and display the general regions where our lenders are located.</li>

				   <li>Milaap's service providers, agents and representatives may be provided access to your personally identifiable information as part of, or incident to, their provision of services to Milaap (for example, processing of microloan transactions). All such access shall be under appropriate confidentiality agreements and limited to use to provide services to Milaap.</li>

				   <li>If you follow any links which remove you from the Website (including, but not limited to, this Privacy Policy no longer applies - i.e., Milaap does not control the privacy policies or the privacy practices of any third parties and use of those third party sites are governed by those third party sites' respective terms of use and privacy policies. Please note that payment processing for (i) additions of funds into a Milaap account or (ii) withdrawal of funds from a Milaap account is provided by the third-party payment processing provider, PayPal.</li>

				  <li>Similar to many websites, if a Website user has enabled cookies in their browser, Milaap, independently and through enabled third party tools and programs, collects certain technical information utilizing a cookie file, such as the path of users to the Website, pages visited, originating IP address, browser type, browser language, and the date and time of the user's visit. This information helps Milaap track trends and improve areas of our Website based on visits, and are common analytics used by most websites.</li>

				  <li>This Website is intended to be used by adults. It is not intended for children, and Milaap does not want to collect any personal information for users who are under the age of 13. Milaap recommends that parents do not post, or permit others to post, any personally identifiable information with respect to persons under the age of 13.</li>

				  <li>Milaap may update or modify this Privacy Policy from time to time. If any changes are made, Milaap will reflect the date on which any such changes are made and posted by updating the "last updated" date at the top of the page. Please be sure to check this page periodically for changes.</li>

				  <li>We take privacy seriously and we value yours.</li>
				</ul>
			</div>
		</div>


</div>
 </div> </div>
