<%= stylesheet_link_tag "static.css"%>
<div class="content">
		<div class="wrapper">

	<div class="get-involved">
		<div class="get-involved-content">
			<div id="privacy-policy">
				<h3>Terms &amp; Conditions</h3> 
				<ul>

				   <li>Welcome to Milaap, the holding brand of Inclusive Planet Technologies Pte, registered as a private company in Singapore, and Kashi Vishawanth Vidya Samsthe, a society registered under the Societies Registration Act in Davangere Karnataka (together with its officers, directors, agents, employees, partners and their respective affiliates, collectively, "Milaap"). This Terms of Use ("Agreement") is a contract between the website user (wherein an internet user is any person or entity who visits or performs any operations including but not limited to browsing, lending, tagging on the website www.milaap.org or its links in other websites including but not limited to www.facebook.com, www.twitter.com , www.gmail.com , www.posterous.com and henceforth referred to as "User") and Milaap. The Agreement governs all transactions between the user and Milaap, as well as the use of the www.milaap.org website (the "Website") and all Milaap services. By using the Website, the user agrees to be bound by this Agreement, irrespective of whether the user lends through the website or participate in Milaap's microlending program (the "Program"). If one wishes to become an User and/or participate in the Programme, one must read all of the terms and conditions in, and linked to, this Agreement (including the Privacy Policy). Milaap shall not be responsible for opinions of any person, on the Programme or other operations of Milaap, beyond the purview of this Agreement. </li>
				</ul>
			</div>
		</div>
	</div>
 </div></div>
