<%= stylesheet_link_tag "static.css"%>
<div class="content">
		<div class="wrapper">

<div id="toppanelbotmborder"></div>
<div id="newsignupmiddlepanel">
  
 <div id="newsignupmiddlecontent">
      <div id="aboutResultcontent">
	    <h2>Volunteer</h2><br/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipisicing incididunt ut labore et dolore incididunt ut labore et dolore <a href="#">read more</a> </p>
      </div>
    </div>
  </div> </div>
  </div>

