<%= stylesheet_link_tag "static.css"%>
<div class="content">
		<div class="wrapper">
<div id="why-milaap">
		<div class="step-1">
			<ul>
				<li>Over 700 million Indians live on less than $2/day</li>
				<li>They have pressing unmet needs beyond credit including education, healthcare, energy, water and sanitation, supply chain linkages</li>
				<li>Access to affordable finance for these services and market linkages can make a difference</li>
			</ul>
		</div>
		<div class="step-2">
			<ul>
				<li>Charity alone is too slow and not enough to provide these basic services. While people often are forced to wait years for a grant that may never come, in the meantime, another generation would have slipped into the grinding cycle of poverty.</li>
				<li>Most of the times, people are so desperate that they borrow money from loan sharks at exorbitant rates (60%+) to access these basic services.</li>
			</ul>
		</div>
		<div class="step-3">
			<ul>
				<li>To apply the principles of microcredit to give loans to borrowers for their life changing needs that results in direct income generation, increased productivity and improved living standards.</li>

				<li>By crowdsourcing small amounts as loans from individuals such as yourself, we'll be able to dramatically increase the number of people served and reduce the cost of loan (interest rates)</li>
				<li>Giving credit is a great idea - as it is a sustainable for the lender and also creates more accountability in the system.</li>
			</ul>
		</div>
		<div class="step-4">
			<ul>
				<li><strong>YOU</strong> give a loan to a borrower in a developing country <strong>facilitated via Milaap</strong> and its on-ground partners and you get back your entire capital at the end of the loan period.</li>
				<li>To return your hard-earned money so that you can use it for yourself, or give it as a loan to another person.</li>
				<li>This way - for the same amount of money - you can help a lot more people <strong>(by giving the same money to multiple people year after year,)</strong> than you could have done via a charity model.</li>
				<li>Your credit also frees charity dollars to go where they are needed most - to the poorest of the poor.</li>
			</ul>
		</div>

		<div class="step-5">
			<ul>
				<li>Your philanthropic dollars will help us prove the viability of these services</li>
				<li>This could create generations of Educated Households, Greener Communities, Healthier livelihoods, Empowered Communities </li>
				<li>It's not going to be easy and <strong>grassroot NGOs and MFIs can't do that alone</strong></li>
				<li>We're going to spend the next few years helping to make that happen. And yes, we are definitely going to use your help.</li>
			</ul>
		</div>
	</div>

		</div>
	</div>	
