<div style="display: none;">
  <!-- Login blurb-->
  <div id="inline1" style="width:500px;height:320px;overflow:hidden;">
    <form method="post" id="user_new" class="user_new" action="/users/login" accept-charset="UTF-8">
      <div id="signup-new"> <img src="/images/signin_head_img.jpg" alt=""/>
        <div class="signup-left-panel">
          <h4>Sign in with your email</h4>
          <label>Email id</label>
          <input type="text" value=""   id="user_email" name="user[email]" class="input-text">
          <label>Password</label>
          <input type="password"  id="user_password" name="user[password]" class="input-text">
        </div>
        <div class="signup-right-panel">
          <h4>Sign in with another account</h4>
          <%= render :partial=>"/layouts/twitter_google_facebook"%>
         </div>
        <div class="clear"></div>
        <div class="other-info"> <a href="/users/secret/new" class="left">Forgot password?</a><span style="padding:0 0 0 4px;" class="left">|</span>
          <p class="left"><a href="/users/register/signup" class="left" title="Sign up with Milaap">New User?  Signup Here</a> <%#= link_to 'Twitter Authentication', url_for(new_user_session_path(:warden_oauth_provider => :twitter))%> <%#= link_to 'Twitter Authentication', url_for(new_user_session_path(:warden_oauth_provider => :twitter))%> <%#= link_to("Login With Twitter", user_session_path(:warden_oauth_provider => 'twitter') ) %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <input type="submit" value="" id="submit-signup">
      </div>
    </form>
  </div>
</div>
