<div style="display: none;">
  <!-- Signup blurb-->
  <div id="inline2" style="width:500px;height:100%;overflow:hidden;">
  <form method="post" id="user_new" class="user_new" action="/users/register" accept-charset="UTF-8">
    <div id="login-new"> <img src="/images/signup_head_img.jpg" alt=""/>
      <div class="login-left-panel">
        <h4>Sign up with your email</h4>
        <label>Email id</label>
        <input type="text" name="user[email]"   id="user_email" class="input-text">
        <label>Password</label>
        <input type="password" name="user[password]"   id="user_password" class="input-text">
        <label>Password again</label>
        <input type="password" name="user[password_confirmation]"   id="user[password_confirmation]" class="input-text">
        <!--label>Username</label>
          <input type="text" name="user[username]"   id="user_username" class="input-text"-->
      </div>
      <div class="login-right-panel">
        <h4>Sign up with another account</h4>
       <%= render :partial=>"/layouts/twitter_google_facebook"%> </div>
    </div>
    <div class="clear"></div>
    <!--div class="other-info"> <a href="">Already a user? Sign in here</a> </div-->
    <div class="clear"></div>
    <input type="submit" class="modified_submit_signin" value="" style="cursor:pointer"/>
    </div>
  </form>
</div>
<div style="display: none;">
  <!-- Signup blurb-->
  <div id="inline3" style="width:500px;height:100%;overflow:hidden;">
  <form method="post" id="user_new" class="user_new" action="/users/register" accept-charset="UTF-8">
    <div id="login-new"> <img src="/images/signup_head_img.jpg" alt=""/>
      <div class="login-left-panel">
        <h4>Sign up with your email</h4>
        <label>Email id</label>
        <input type="text" name="user[email]"   id="user_email" class="input-text">
        <label>Password</label>
        <input type="password" name="user[password]"   id="user_password" class="input-text">
        <label>Password again</label>
        <input type="password" name="user[password_confirmation]"   id="user[password_confirmation]" class="input-text">
        <!--label>Username</label>
          <input type="text" name="user[username]"   id="user_username" class="input-text"-->
      </div>
      <div class="login-right-panel">
        <h4>Sign up with another account</h4>
       <%= render :partial=>"/layouts/twitter_google_facebook"%> </div>
    </div>
    <div class="clear"></div>
    <!--div class="other-info"> <a href="">Already a user? Sign in here</a> </div-->
    <div class="clear"></div>
    <input type="submit" class="modified_submit_signin" value="" style="cursor:pointer"/>
    </div>
  </form>
</div>
<div style="display: none;">
  <!-- Signup blurb-->
  <div id="inline4" style="width:500px;height:100%;overflow:hidden;">
  <form method="post" id="user_new" class="user_new" action="/users/register" accept-charset="UTF-8">
    <div id="login-new"> <img src="/images/signup_head_img.jpg" alt=""/>
      <div class="login-left-panel">
        <h4>Sign up with your email</h4>
        <label>Email id</label>
        <input type="text" name="user[email]"   id="user_email" class="input-text">
        <label>Password</label>
        <input type="password" name="user[password]"   id="user_password" class="input-text">
        <label>Password again</label>
        <input type="password" name="user[password_confirmation]"   id="user[password_confirmation]" class="input-text">
        <!--label>Username</label>
          <input type="text" name="user[username]"   id="user_username" class="input-text"-->
      </div>
      <div class="login-right-panel">
        <h4>Sign up with another account</h4>
       <%= render :partial=>"/layouts/twitter_google_facebook"%> </div>
    </div>
    <div class="clear"></div>
    <!--div class="other-info"> <a href="">Already a user? Sign in here</a> </div-->
    <div class="clear"></div>
    <input type="submit" class="modified_submit_signin" value="" style="cursor:pointer"/>
    </div>
  </form>
</div>
