<div class="slider-btns" id="slider_btn_id">
  <div class="left">
   <% unless user_signed_in? %> 
    <a href="#inline2" title="Signup for beta now" id="signup" ><img src="/images/slideshw-signup-btn.png"></a>
    <% end %>
  </div>
  <div class="left"><a href=""><img src="/images/slideshw-learnmore-btn.png"></a></div>
</div>
