<div>


	<title>Welcome to Milaap!</title>
<center>
		<table cellspacing="0" cellpadding="0" style="width: 550px; font-family: Arial,sans-serif; border: 1px solid #cecece; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); border: medium none; text-align: left;">


			<tbody><tr>
				<td colspan="1" style="padding: 10px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(238, 238, 238); font-size: 16px; color: rgb(0, 111, 177);"><img alt="Milaap" src="http://www.milaap.org/images/milaap.png"></td>
				<td style="padding: 10px; background-color: rgb(255, 255, 255); text-align: right; vertical-align: bottom; border-bottom: 1px solid rgb(238, 238, 238);"><h1 style="font-size: 22px; font-weight: normal; margin: 0pt; border: medium none; color: rgb(136, 136, 136); padding-bottom: 20px;">Welcome to Milaap!</h1></td>
			</tr>
			<tr>
				<td valign="top" colspan="2" style="padding: 10pt 10px 10px; background-color: rgb(255, 255, 255);">

				<p>Hi <%= if @user.first_name.nil? then "there" else @user.first_name.capitalize end %>!</p>

				<p>Thanks for joining Milaap. We are happy that you want to be part of this noble initiative.</p>

				<p>You are just one step away from making a difference! You need to simply click on the link to confirm your email address:</p>
				<p>
				<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
				</p>

				<p>And you are all set to view borrower profiles and make loans thereafter. </p>

				<p>Cheers,<br/>
				The Milaap Team
				</p>

		<div style="background:#efefef; padding:0px 15px;"><p style="float:left;">Need help? Have <a href="mailto:feedback@milaap.org" target=_"blank">feedback</a>?</p><p style="float:right;"><span>Spread the word :</span> <a href="http://www.facebook.com/Milaap.org"><img style="margin:0 5px -4px 0;" src="images/team-fb.gif" alt="Facebook"/></a><a href="http://twitter.com/milaapdotorg"><img style="margin:0 0 -4px 0;" src="images/team-twitter.gif" alt="Twitter"/></a></p><p style="clear:both;"></p></div>

				</td>
			</tr>
		</tbody></table>
	</center>

</div>





